body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
   background-image:url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
/*.content button{
    padding: 10px 12px;
    margin: 0 10px;
}*/
.logo{
    position: absolute;
    top: 10px;
    left: 10px;
    color: black;
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
}
.content-one,.conten-two{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
}
.content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-one img{
    height: 400px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 10px rgba(220,220,220,0.5);
}
 .volume i{
    cursor: pointer;
    
}
.volume i:hover{
    color:coral
}
.buttons button{
    border: none;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    background-color: brown;
}
.timing{
    width: 100%;
    padding-bottom: 10px;
    left: 20px;
    padding-top:20px;
}
.conten-two{
    padding-left: 80px;
}

#duration-slider{
    cursor: pointer;
    padding-left: 20px;
}
.song-no{
    position: absolute;
    top: 0px;
    right: 20px;
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border-radius: 20px;
    background-color: darkgray;
    border-style: groove;
}
.song-no p:nth-child(2){
    margin: 0 5px;
}
#title{
    padding-top: 6px;
    text-transform: capitalize;
    padding-bottom: 0px;
}
#artist{
    padding-top: 0px;
    text-transform: capitalize;
}